body{
    font-family: Arial;
    background:#f4f6f9;
}


.admin-container{
    padding:40px;
}


h1{
    color:#d32f2f;
}


.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}


.card{
    background:white;
    width:220px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px #ccc;
}


.card a{
    display:inline-block;
    margin-top:10px;
    background:#d32f2f;
    color:white;
    padding:8px 15px;
    text-decoration:none;
    border-radius:5px;
}
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 40px;
}


.stats .card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}


.stats .card h2 {
    font-size: 35px;
    margin: 0;
    color: #e53935;
}


.stats .card p {
    font-size: 18px;
    margin-top: 10px;
}






.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}



.cards .card {

    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



.cards .card a {

    display:inline-block;
    margin-top:20px;
    background:#e53935;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;

}